@font-face {
    font-family: 'Projekt Blackbird';
    src: url('css/fonts/Projekt\ Blackbird\ v2.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Projekt Blackbird', sans-serif;
    font-weight: 100;
}

body {
    background-color: black;
}

main {
    width: 26%;
    margin: auto;
}

.ticket {
    border-radius: 10px;
    background-color: white;
    height: 40%;
}

.content {
    height: 600px;
    width: 80%;
    margin: auto;
}

h1 {
    padding-top: 20px;
    margin-bottom: 0px;
    font-size: 60px;
}

input {
    font-size: 20px;
    margin-top: 20px;
    height: 30px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.line {
    position: absolute;
    left: 0px;
    border-top: 2px dashed rgb(0, 0, 0); /* Creates a dashed line */
    width: 100%; /* Adjust width as needed */
    margin: 20px 0; /* Spacing above and below */
  }
  

label {
    padding-bottom: 20px;
    font-size: 40px;
}

button {
    margin-top: 5px;
    color: white;
    background-color: black;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid black;
    height: 30px;
}

button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#utskrift {
    font-size: 30px;
    margin-top: 50px;
}