@font-face {
    font-family: 'Projekt Blackbird';
    src: url('css/fonts/Projekt\ Blackbird\ v2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Projekt Blackbird', sans-serif;
}

body {
    background-color: black;
}

main {
    width: 20%;
    margin: auto;
}

.ticket {border-radius: 10px;
    background-color: white;
    height: 700px;
}